<h2>Product</h2>
<div id="container">
    <% if(products != null && products.length > 0) {%>
        <%products.forEach(product => {%>
            <div id="product-container">
                <h3><%=product.name%></h3>
                <p><%=product.desc%></p>
                <p>
                    ID: <%=product.id%><br />
                    Price: <%=product.price%><br />
                </p>
                <form id="addToCartForm">
                    <input id="id" name="id" type="hidden" value="<%=product.id%>" />
                    <input id="price" name="price" type="hidden" value="<%=product.price%>" />
                    <input type="button" id="addToCart" value="Add to Cart" />
                </form>
            </div>
        <%})%>
    <% } %>
</div>